<main class="panel-page js-panel-page js-admin-panel-page">
  <div class="container-size">
    <div class="panel-page__wrap">
      <div class="panel-page__content">

        <div class="panel-item">
          <div class="panel-item__wrap">
            <h2 class="panel-item__title title-style">
              {{ lang 'portfolio' }}
            </h2>
            <!-- /.panel-item__title -->
            <div class="panel-item__items">

              <div class="panel-item__item status-item" title="{{ lang 'published' }}">
                <img {{{ images.status_items.done }}} alt="{{ lang 'published' }}" class="status-item__img">
                <div class="status-item__amount">
                  1
                </div>
                <!-- /.status-item__amount -->
              </div>
              <!-- /.panel-item__item -->
              <div class="panel-item__item status-item">

              </div>
              <!-- /.panel-item__item -->
              <div class="panel-item__item status-item">

              </div>
              <!-- /.panel-item__item -->

            </div>
            <!-- /.panel-item__items -->
          </div>
          <!-- /.panel-item__wrap -->
        </div>
        <!-- /.panel-item -->

      </div>
      <!-- /.panel-page__content -->
    </div>
    <!-- /.panel-page__wrap -->
  </div>
  <!-- /.container-size -->
</main>
<!-- /.panel-page -->