<footer class="footer">
  <div class="container-size">
    <div class="footer__content">
      <div class="footer__bottom-content">
        <div class="copyright">
          <div class="copyright__company-name">
            {{ lang 'company_name' }}
          </div>
          <!-- /.copyright__company-name -->
          <div class="copyright__year">
            © {{ copyrightYear }}
          </div>
          <!-- /.copyright__year -->
        </div>
        <!-- /.copyright -->
      </div>
      <!-- /.footer__bottom-content -->
    </div>
    <!-- /.footer__content -->
  </div>
  <!-- /.container-size -->
</footer>