<div class="header">
  <div class="header__wrap">
    <div class="container-size">
      <div class="header__content">
        <div class="header__item">

        </div>
        <!-- /.header__item -->
        <div class="header__item">

        </div>
        <!-- /.header__item -->
        <div class="header__item">
          
        </div>
        <!-- /.header__item -->
      </div>
      <!-- /.header__content -->
    </div>
    <!-- /.container-size -->
  </div>
  <!-- /.header__wrap -->
</div>
<!-- /.header -->