{{#if showProposalToChangeLanguageToBrowserLanguage}}
  <div class="proposal-to-change-language action-cloud" data-action-cloud="change-language">
    <div class="proposal-to-change-language__wrap">
      <a href="{{ changeToBrowserLanguageLink }}" class="proposal-to-change-language__content" data-action-cloud-make-action>
        {{ changeToBrowserLanguageText }}
      </a>
      <!-- /.proposal-to-change-language__content -->
      <button class="proposal-to-change-language__close">
        <img src="/img/action-cloud-close.svg" alt="" class="proposal-to-change-language__close-icon click-extender" data-action-cloud-close-button="change-language">
      </button>
      <!-- /.proposal-to-change-language__close -->
    </div>
    <!-- /.proposal-to-change-language__wrap -->
  </div>
  <!-- /.proposal-to-change-language -->
{{/if}}