<!DOCTYPE html>
<html lang="{{ currentLang.cod_name }}">
  <head>
    {{> head}}
    <link rel='stylesheet' href='/css/front.css'>
    <link rel='stylesheet' href='/admin-resources/css/admin.css'>
  </head>
  <body>
    {{> header}}
    {{{body}}}
  </body>
  <script src="/js/front.js" defer></script>
  <script src="/admin-resources/js/admin.js" defer></script>
</html>
