<!DOCTYPE html>
<html lang="{{ currentLang.cod_name }}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/front.css{{ fileVersion }}">
  </head>
  <body>
    {{> header}}
    {{> logic}}
    {{{body}}}
  </body>
  <script src="/js/front.js{{ fileVersion }}" defer></script>
</html>
