<!DOCTYPE html>
<html lang="{{ currentLang.code_name }}">
  <head>
    {{> head}}
    <link rel="stylesheet" href="/css/front.css{{ fileVersion }}">
  </head>
  <body>
    {{> header}}
    {{> logic}}
    {{{body}}}
    <script src="/js/front.js{{ fileVersion }}" defer></script>
  </body>
</html>
