<!DOCTYPE html>
<html lang="{{ currentLang.cod_name }}">
  <head>
    {{> head}}
    <link rel='stylesheet' href='/css/front.css'>
    <link rel='stylesheet' href='/css/mini.css'>
    <link rel="preload" href="/fonts/Lato-Regular.ttf" as="font" crossorigin="anonymous">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/js/front.js" defer></script>
</html>
