@import './partials/reset.scss';
@import './partials/_variables';
@import './partials/fonts.scss';
@import './partials/global.scss';
@import './partials/container-size.scss';
@import './partials/screen.scss';
@import './partials/look-at-me.scss';
@import './partials/pop-up.scss';
@import './partials/select-pop-up.scss';
@import './partials/pop-up-input.scss';
@import './partials/rotation-animation.scss';
@import './partials/accent-slash.scss';
@import './partials/swiper-bundle.scss';
@import './partials/block-scroll.scss';
@import './partials/img-cover.scss';
@import './partials/upload-file.scss';
@import './partials/table.scss';
@import './partials/list-is-empty.scss';

@import './partials/page.scss';

@import './partials/titles.scss';
@import './partials/text.scss';
@import './partials/button.scss';
@import './partials/logo.scss';
@import './partials/hover-link.scss';
@import './partials/cabinet-link.scss';
@import './partials/click-extender.scss';
@import './partials/plus-button.scss';
@import './partials/checkbox.scss';

@import './partials/header.scss';
@import './partials/lang-switcher.scss';
@import './partials/hello-section.scss';
@import './partials/page-menu.scss';
@import './partials/advantages-section.scss';
@import './partials/portfolio-item-page.scss';
@import './partials/portfolio-item.scss';
@import './partials/intro-images.scss';
@import './partials/home-page.scss';
@import './partials/home-portfolio-images.scss';
@import './partials/notify-page.scss';

@import './partials/form.scss';
@import './partials/login.scss';
@import './partials/field.scss';

@import './partials/editor-text.scss';
@import './partials/footer.scss';
@import './partials/copyright.scss';

.site-in-development {
  position: fixed;
  bottom: 10px;
  left: 10px;
  font-size: 1rem;
  z-index: 99999;
  user-select: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 4px;
}