<div class="list-is-empty">
  <div class="list-is-empty__wrap">
    <div class="container-size">
      <div class="list-is-empty__content">
        <h1 class="page-title page-title_free-transform list-is-empty__title">
          {{ lang 'list_is_empty' }}
        </h1>
        <!-- /.page-title -->
      </div>
      <!-- /.list-is-empty__content -->
    </div>
    <!-- /.container-size -->
  </div>
  <!-- /.list-is-empty__wrap -->
</div>
<!-- /.list-is-empty -->