<div class="text-img-wrap text-container {{iif desktopMode 'text-container_desktop' 'text-container_mobile' }} text-block-animation">
  <img {{{published_image_src file.name }}} alt="{{ caption }}" class="text-img portfolio-shadow">
</div>
<!-- /.text-img-wrap-->