<div class="container-size text-list-wrap">
  <div class="text-container">
    <{{{iifEquals style 'ordered' 'ol' 'ul'}}}>
      {{{listPartial style items}}}
    </{{{iifEquals style 'ordered' 'ol' 'ul'}}}>
  </div>
  <!-- /.text-container -->
</div>
<!-- /.container-size -->