.editor-placeholder {
  user-select: none;
}
.editor-inline-button {
  cursor: pointer;
  user-select: none;
}
.editor-pop-up-input-caller {
  cursor: pointer;

  &_empty {
    opacity: .5;
  }
}
[contenteditable] {
  cursor: text;

  &:empty::before {
    content: attr(data-placeholder);
    color: inherit;
    opacity: .5;
  }
  // &:empty:focus::before {
  //   content: '';
  // }
}
.editor-intro-images {
  background-color: #F9F9F9;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3.5rem;
    padding-bottom: 4rem;
    min-height: 400px;
  }
  &__section {
    margin-top: 1.5rem;

    &:first-child {
      margin-bottom: 0;
    }
  }
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1.94em;
    cursor: pointer;
    transition: color .2s;

    &:hover, &:focus {
      color: $accent-color;
    }
  }
  &__items {
    position: relative;
    left: .75rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.editor-save-button {
  transform: scale(1);
  opacity: 1;
  transition: transform .5s ease-out, opacity .5s ease-out, color .5s ease-out;
  user-select: none;

  &.process {
    transform: scale(.7);
    opacity: .4;
    color: #777 !important;
    transition: transform .2s, opacity .2s, color .2s;
    cursor: wait !important;

    * {
      color: #777 !important;
      transition: color .2s;
    }
  }
}

.side-edit-panel {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 2;

  &__content {
    border-radius: 38px;
    background-color: #fff;
    box-shadow: 0px 9px 25px 0 rgba(0, 0, 0, .09);
    padding: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;

    &:first-child {
      margin-bottom: 2.3rem;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__button {
    cursor: pointer;
    user-select: none;

    svg {
      transform-origin: center;
      transform: scale(1);
      transition: transform .2s;
    }
    path {
      transition: fill .2s;
    }
    &:hover, &:focus {
      svg {
        transform: scale(1.1);
      }
      path {
        fill: $accent-color;
      }
    }
  }
  &__button & {
    &__cloud {
      transform-origin: center;
      transform: scale(1);
      transition: transform .2s, color .2s;
    }
  }
  &__cloud {
    font-size: 1.4rem;
    position: relative;
    bottom: 3px;
    color: #969696;
  }
  &__button:hover &, &__button:focus & {
    &__cloud {
      color: $accent-color;
      transform: scale(1.1);
    }
  }
  &__button.look-at-me & {
    &__cloud {
      color: #ff0000;
    }
  }
}

.image-tool {
  padding: 0;
}