<main class="login-page js-login-page js-admin-login-page">
  <div class="container-size">
    <div class="login-page__wrap">
      <div class="login-page__content">

        <form action="/login-admin" method="POST" class="form login-page__form js-login-form" spellcheck="false" autocomplete="off">
          <div class="form__logo">
            <a href="/" class="logo click-extender">
              <img src="/img/alexko-line-logo.svg" alt="alexko" class="logo__img">
            </a>
            <!-- /.logo -->
          </div>
          <!-- /.form__logo -->
          <h1 class="form__title">{{ lang 'admin_panel' }}</h1>
          <!-- /.form__title -->
          <div class="field form__field js-field" data-field-require>
            <label class="field__label" for="login-name">{{ lang 'name' }}</label>
            <input type="text" name="name" placeholder="name" class="field__input" id="login-name">
          </div>
          <!-- /.field -->
          <div class="field field_password form__field js-field" data-field-require>
            <label class="field__label" for="login-password">{{ lang 'password' }}</label>
            <input type="password" name="password" placeholder="•••" class="field__input" id="login-password">
          </div>
          <!-- /.field -->
          <div class="form__button">
            <button type="submit" class="accent-button accent-button_wide">
              {{ lang 'login_to' }}
            </button>
            <!-- /.accent-button -->
          </div>
          <!-- /.form__button -->
        </form>
        <!-- /.form -->

      </div>
      <!-- /.login-page__content -->
    </div>
    <!-- /.login-page__wrap -->
  </div>
  <!-- /.container-size -->
</main>
<!-- /.login-page -->