<main class="portfolio-item portfolio-item-page">
  <div class="portfolio-item__wrap">
    <div class="container-size">

      <section class="info-page">
        <h1 class="info-page__title page-title page-title_free-transform page-title_inner-page">
          Политика обработки персональных данных
        </h1>
        <!-- /.info-page__title -->
        <div class="info-page__text">
          
        </div>
        <!-- /.info-page__text -->
      </section>
      <!-- /.info-page -->

    </div>
    <!-- /.container-size -->
  </div>
  <!-- /.portfolio-item__wrap -->
</main>
<!-- /.portfolio-item -->