<main class="portfolio-item portfolio-item-page page-bottom-offset">
  <div class="portfolio-item__wrap">

    <section class="info-page">
      <div class="container-size">
        <div class="info-page__header">
          <div class="info-page__content">
            <h1 class="info-page__title page-title page-title_free-transform page-title_info-page">
              {{ page.title }}
            </h1>
            <!-- /.info-page__title -->
          </div>
          <!-- /.info-page__content -->
        </div>
        <!-- /.info-page__header -->
      </div>
      <!-- /.container-size -->
      <div class="info-page__text text-with-lists">
        {{#each page.text.blocks as |block|}}
          {{{textPartial block.type block.data }}}
        {{/each}}
      </div>
      <!-- /.info-page__text -->
    </section>
    <!-- /.info-page -->

  </div>
  <!-- /.portfolio-item__wrap -->
</main>
<!-- /.portfolio-item -->