@import './advantage.scss';

.advantages-section {
  text-align: center;

  &__wrap {
    padding-top: 6.25rem;
  }
  &__item-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50vh;
    
    &:last-child {
      margin-bottom: 25vh;
    }
  }
}

@media (min-width: 1024px) {
  .mobile-view {
    .advantages-section {
      &__wrap {
        margin-bottom: 11rem;
      }
      &__item-wrap {
        margin-bottom: 7.5rem;
        
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .advantages-section {
    &__wrap {
      margin-bottom: 11rem;
    }
    &__item-wrap {
      margin-bottom: 7.5rem;
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

@media (max-width: 680px) {
  .advantages-section {
    &__wrap {
      margin-bottom: 25vw;
    }
  }
}

@media (max-width: 630px) {
  .advantages-section {
    &__wrap {
      margin-bottom: 9.5rem;
    }
  }
}

@media (max-width: 510px) {
  .advantages-section {
    &__wrap {
      padding-top: 19vw;
      margin-bottom: 30vw;
    }
    &__item-wrap {
      margin-bottom: 22vw;
    }
  }
}

@media (max-width: 480px) {
  .advantages-section {
    &__wrap {
      margin-bottom: 31vw;
    }
  }
}