.container-size {
  margin-left: 70px;
  margin-right: 70px;
  width: auto;
}
.container-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 1024px) {
  .container-size {
    margin-left: 6.8vw;
    margin-right: 6.8vw;
  }
}

@media (max-width: 330px) {
  .container-size {
    margin-left: 22px;
    margin-right: 22px;
  }
}