.portfolio-item {
  .ce-block {
    &__content {
      margin: 0;
      max-width: none;
    }
  }
  .ce-paragraph, .ce-header {
    @extend .text-container;
  }
  .ce-header {
    padding: 0;
  }
  h2.ce-header {
    @extend .text-h2;
  }
  .ce-paragraph {
    padding: 0;
    @extend .text-p;
  }
  .image-tool {
    @extend .text-container;
    @extend .text-img-wrap_mobile;
    @extend .text-img-wrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  
    &__image {
      @extend .text-img;
      overflow: visible
    }
    &__image-picture {
      @extend .portfolio-shadow;
    }
    
    &--desktopMode {
      @extend .text-img-wrap_desktop;
    }
    &--stretched {
      @extend .text-img-wrap_stretched;
    }
  }
  .cdx-nested-list {
    padding-top: 0;
    padding-bottom: 0;
    list-style: none;
    @extend .text-container;

    &__item {
      padding: 0;
      line-height: inherit;
      display: block;
    }
    &__item-body {
      display: inline;
    }
    &__item-content {
      display: inline;
    }
  }
  ul.cdx-nested-list {
    list-style: disc;
  }

}
.page-editing-page {
  .codex-editor__redactor {
    .ce-block:first-child * {
      margin-top: 0;
    }
  }
}