.field {
  position: relative;

  &__label, &__input {
    font-size: 1rem;
    line-height: 1.4;
  }
  &__label {
    position: absolute;
    top: 1.2em;
    left: -2em;
    transform: translateX(-100%);
    color: $default-color;
    cursor: pointer;
    transition: color .15s;
    user-select: none;
  }
  &__input {
    width: 15.63em;
    padding-top: 1.13em;
    padding-bottom: 1.3em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border: none;
    background-color: rgba(111, 111, 111, 0.06);
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
    transition: background-color .3s;
  }
  &__textarea {
    min-height: 13.43em;
    max-height: 19em;
  }

  &__input:-webkit-autofill {
    -webkit-text-fill-color: $default-color;
  }

  &.focus & {
    &__label {
      color: $accent-color;
    }
  }
  &.look-at-me & {
    &__input {
      background-color: rgba(255, 0, 0, 0.07);
      transition: background-color .2s;
    }
  }

  &_password & {
    &__input {
      font-family: 'Raleway', sans-serif;
      padding-top: 1.18em;
      padding-bottom: 1.25em;
    }
  }
  &_big & {
    &__input {
      width: 23.1em;
    }
  }
}