.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  &__side-item {
    width: 100%;

    &_right {
      display: flex;
      justify-content: flex-end;
    }
  }
}