.hello-section {
  text-align: center;
  position: relative;

  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    min-height: 680px;
  }
  &__mobile-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(18, 109, 255, 0.045);
    opacity: 0;
    pointer-events: none;
    user-select: none;
    z-index: -1;
  }
}

.mobile-view {
  .hello-section {
    &__wrap {
      height: calc(var(--vh, 1vh) * 100);
    }
  }
}

@media (max-width: 1024px) {
  .hello-section {
    &__wrap {
      height: calc(var(--vh, 1vh) * 100);
    }
  }
}

@media (max-width: 768px) {
  .hello-section {
    &__wrap {
      transition: height .15s;
    }
  }
}

@media (max-width: 530px) {
  .hello-section {
    &__wrap {
      min-height: 630px;
    }
  }
}

@media (max-width: 440px) {
  .hello-section {
    &__wrap {
      min-height: 132vw;
    }
  }
}

@media (max-width: 380px) {
  .hello-section {
    &__wrap {
      min-height: 500px;
    }
  }
}