.home-portfolio-images {
  transition: transform .2s;
  
  &__slide {
    pointer-events: all;
  }

  &_mobile & {
    &__slide {
      width: 22.6rem;
      transform: translateY(30px * 4);
    }
  }
  &_desktop & {
    &__slide {
      width: 72rem;
      transform: translateY(30px * 2);
    }
  }
}

@media (max-width: 1830px) {
  .home-portfolio-images {
    &_desktop & {
      &__slide {
        width: 62vw;
      }
    }
  }
}

@media (max-width: 1380px) {
  .home-portfolio-images {
    &_desktop & {
      &__slide {
        width: 53rem;
      }
    }
  }
}

@media (max-width: 1056px) {
  .home-portfolio-images {
    &_desktop & {
      &__slide {
        width: 86vw;
      }
    }
    &_mobile & {
      &__slide {
        width: 19rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-portfolio-images {
    transition: transform .35s;
    
    &_desktop & {
      &__slide {
        width: 94vw;
      }
    }
  }
}

@media (max-width: 650px) {
  .home-portfolio-images {
    &_desktop & {
      &__slide {
        width: 92vw;
      }
    }
  }
}

@media (max-width: 430px) {
  .home-portfolio-images {
    &_desktop {
      transition: transform .5s;
    }
    &_mobile & {
      &__slide {
        width: 70vw;
      }
    }
  }
}

@media (max-width: 360px) {
  .home-portfolio-images {
    &_desktop & {
      &__slide {
        width: 90vw;
      }
    }
  }
}