.info-page {
  margin-left: auto;
  margin-right: auto;
  
  &__content {
    width: 38rem;
    max-width: 100%;
  }
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  &__title {
    margin-bottom: 1.13em;
  }
  &__title-link {
    text-decoration: none;
    outline: none !important;
    color: inherit;
    transition: color .2s;

    &:hover, &:focus {
      color: $accent-color;
    }
  }
  &__text {
    .text-p-wrap:first-child {
      .text-p {
        margin-top: 0;
      }
    }
  }
  &__final-button {
    margin-top: 4rem;
  }
}

@media (max-width: 440px) {
  .info-page {
    &__final-button {
      margin-top: 3rem;
    }
  }
}