.lang-switcher, .change-language .select-pop-up__item {
  display: inline-block;
  font-size: .88rem;
  line-height: 1.23;
  letter-spacing: .02em;
  user-select: none;

  &__arrow {
    vertical-align: middle;
  }
}