.login-page {
  &__wrap {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-height: 500px) {
  .login-page {
    &__wrap {
      justify-content: flex-start;
    }
    &__form {
      margin-top: 90px;
      margin-bottom: 20px;
    }
  }
}