.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.page-bottom-offset {
  margin-bottom: 10rem;
}

@media (max-width: 900px) {
  .page-bottom-offset {
    margin-bottom: 90px;
  }
}

@media (max-width: 720px) {
  .page-bottom-offset {
    margin-bottom: 70px;
  }
}

@media (max-width: 380px) {
  .page-bottom-offset {
    margin-bottom: 60px;
  }
}