.portfolio-item {
  &__header {
    margin-bottom: 3.5rem;
  }
  &__list {
    margin-top: 6.3rem;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
  &__intro-gallery {
    overflow: visible;
    user-select: none;
  }
  &__content {
    margin-top: 7.25rem;
    margin-bottom: 7.25rem;
  }
}
.portfolio-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;

  &__subtitle {
    display: block;
    margin-bottom: .75em;
    color: $default-color;
    text-decoration: none;
    outline: none !important;
  }
  &__title {
    margin-bottom: 1.025em;

    // &_mini {
    //   margin-bottom: 1.25em;
    // }
  }
  &__descr {
    margin-bottom: 1.31rem;
  }
  &__links {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.7;
  }
  &__link {
    margin-right: 1.63rem;
    
    &:last-child {
      margin-right: 0;
    }
  }
}
.portfolio-descr {
  line-height: 1.7;
}
.portfolio-shadow {
  box-shadow: 0px 20px 64px rgba(0, 0, 0, .14);
}

@media (max-width: 850px) {
  .portfolio-item {
    &__header {
      margin-bottom: 6.5vw;
    }
  }
}

@media (max-width: 768px) {
  .portfolio-item {
    &__content {
      margin-top: 15vw;
    }
  }
}

@media (max-width: 768px) {
  .portfolio-header {
    &__title {
      margin-bottom: 24px;
    }
    &__descr {
      margin-bottom: 18px;
    }
  }
}

@media (max-width: 660px) {
  .portfolio-item {
    &__header {
      margin-bottom: 35px;
    }
  }
}

@media (max-width: 520px) {
  .portfolio-item {
    &__content {
      margin-top: 78px;
    }
  }
}

@media (max-width: 480px) {
  .portfolio-item {
    &__content {
      &_desktop {
        margin-top: 72px;
      }
    }
  }
}

@media (max-width: 470px) {
  .portfolio-item {
    &__content {
      &_desktop {
        margin-top: 13.8vw;
      }
    }
  }
}

@media (max-width: 425px) {
  .portfolio-header {
    &__link {
      margin-right: 1.3rem;
    }
  }
}

@media (max-width: 405px) {
  .portfolio-item {
    &__content {
      &_desktop {
        margin-top: 56px;
      }
    }
  }
}