.top-screen-offset {
  padding-top: 65px;
}

.bottom-screen-offset {
  padding-bottom: 45px;

  transition: transform .15s;
}

.header-offset {
  padding-top: 5.13rem;
}

@media (max-width: 1023px) {
  .top-screen-offset {
    padding-top: 6.3vw;
  }
  .bottom-screen-offset {
    padding-bottom: 4.3vw;
  }
  .header-offset {
    padding-top: 8vw;
    // padding-top: calc();
  }
}

@media (max-width: 850px) {
  .header-offset {
    padding-top: 68px;
  }
}

@media (max-width: 826px) {
  .top-screen-offset {
    padding-top: 52px;
  }
}

@media (max-width: 689px) {
  .top-screen-offset {
    padding-top: 7.5vw;
  }
  .bottom-screen-offset {
    padding-bottom: 30px;
  }
  .header-offset {
    padding-top: 11vw;
  }
}

@media (max-width: 480px) {
  .bottom-screen-offset {
    padding-bottom: 6.8vw;
  }
}

@media (max-width: 440px) {
  .bottom-screen-offset {
    padding-bottom: 30px;
  }
}

@media (max-width: 415px) {
  .top-screen-offset {
    padding-top: 34px;
  }
  .header-offset {
    padding-top: 51px;
  }
}

@media (max-width: 380px) {
  .top-screen-offset {
    padding-top: 30px;
  }
  .header-offset {
    padding-top: 47px;
  }
}