.text-container {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
}
.text-h2 {
  font-size: 1.75rem;
  margin-top: 2.85em;
  margin-bottom: 1.14em;
  line-height: 1.37;
  font-weight: 900;
  color: $header-color;
}
.text-p {
  font-size: 1rem;
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  line-height: 1.9;
}
.text-img-wrap {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  &__expansion-shadow {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 120px;
    background-image: linear-gradient(270deg, rgba(199, 199, 199, 0.35) 0%, rgba(0, 0, 0, 0) 100%);
    pointer-events: none;
    user-select: none;
    display: none;
    transform: translateY(0px);
    transition: transform .1s;
  }
  &__content {
    display: inline-block;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  &_mobile {
    max-width: 24rem;
  }
  &_desktop {
    max-width: 64rem;
  }
  &_stretched {
    max-width: none;
  }
}
.text-img {
  max-width: 100%;
  border-radius: .25rem;
}
.text-img-wrap + .text-h2-wrap .text-h2 {
  margin-top: 3.57em;
}

.info-page {
  .text-img-wrap {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .text-h2 {
    margin-top: 1em;
    margin-bottom: .7em;
  }
  .text-img-wrap + .text-h2-wrap .text-h2 {
    margin-top: 2.2em;
  }
}

.text-link {
  text-decoration: none;
  outline: none !important;
  color: $accent-color !important;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -8px;
    pointer-events: none;
    background-color: $accent-color;
    opacity: 0;
    transition: opacity .25s ease-in-out;
  }

  &_independent {
    &::after {
      height: auto;
      width: auto;
      top: -.19em;
      left: -.8em;
      right: -.8em;
      bottom: -.19em;
      background-color: #ebf1ff;
      z-index: -1;
      border-radius: 4px;
    }
  }

  &:hover, &:focus {
    &::after {
      opacity: .5;
    }
  }
  &_simple-effects {
    transition: color .2s;

    &:hover, &:focus {
      color: lighten($color: $accent-color, $amount: 10) !important;
    }

    &::after {
      display: none;
    }
  }
}

.text-with-lists {
  ul, ol {
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1rem;
    line-height: 1.9;
  
    > li {
      margin-top: .7rem;
    }
    ul, ol {
      margin-top: 0px;
    }
  }

  ul {
    list-style: disc;
  }
  
  ol {
    counter-reset: item;
  
    > li {
      &::before {
        content: counters(item, '.') ". ";
        counter-increment: item;
        padding-right: .12em;
        margin-right: 0 !important;
      }
    }
    > ol {
      counter-reset: innerItem;

      > li {
        &::before {
          content: mainItem counters(innerItem, '.') ". ";
          counter-increment: innerItem;
        }
      }
    }
  }

  .text-list-wrap:first-child {
    > .text-container {
      > ol, > ul {
        margin-top: 0;
      }
    }
  }
  .text-list-wrap:only-child {
    > .text-container {
      > ol, > ul {
        padding-left: 0;
      }
    }
  }
}

b {
  font-weight: 700;
}
i {
  font-style: italic;
}

@media (max-width: 840px) {
  .text-container {
    &_mobile {
      max-width: 45vw;
    }
  }
  .text-img-wrap {
    margin-top: 7.6vw;
    margin-bottom: 7.6vw;
  }
  .text-img-wrap + .text-h2-wrap .text-h2 {
    margin-top: 11vw;
  }
}

@media (max-width: 680px) {
  .text-container {
    &_mobile {
      max-width: 306px;
    }
  }
}

@media (max-width: 600px) {
  .text-img-wrap {
    &_desktop & {
      &__content {
        overflow-x: auto;
  
        > img {
          min-width: 600px;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .text-img-wrap {
    &_desktop & {
      &__expansion-shadow {
        display: block;
      }
    }
  }
}

@media (max-width: 571px) {
  .text-img-wrap + .text-h2-wrap .text-h2 {
    margin-top: 68px;
  }
}

@media (max-width: 555px) {
  .text-img-wrap {
    margin-top: 42px;
    margin-bottom: 42px;
  }
}

@media (max-width: 550px) {
  .text-h2 {
    margin-top: 49px;
    margin-bottom: 24px;
  }
  .text-p {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

@media (max-width: 425px) {
  .text-h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 416px) {
  .text-img-wrap {
    &_mobile {
      margin-left: 16px;
      margin-right: 16px;
    }
  }
}