.title-style {
  line-height: 1.135;
  font-weight: 900;
  color: $header-color;
}
.page-title {
  @extend .title-style;
  font-size: 2.44rem;
  text-transform: uppercase;

  &__line {
    position: relative;

    &_accent {
      color: $accent-color;
    }
  }
  &__arrow-block {
    position: absolute;
    display: inline-flex;
    height: 100%;
    align-items: center;
    pointer-events: none;
    user-select: none;

    &_right {
      transform: translateX(22px);
    }
    &_left {
      left: -32px;
      transform: translateX(-22px);
    }
  }

  &_separated-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_free-transform {
    text-transform: none;
  }
  &_mini {
    font-size: 2rem;
  }
  &_link {
    text-decoration: none;
    outline: none !important;
    transition: color .2s;
    
    &:focus {
      color: $accent-color;
    }
  }
}
.subtitle {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: .02em;

  &[href] {
    transition: color .2s;

    &:hover, &:focus {
      color: $accent-color;
    }
  }
}

.page-title-block {
  display: inline-block;

  &__subtitle {
    margin-bottom: 1.38em;
  }
  &__title {
    margin-bottom: 1.18em;
  }
}