.page-title {
  font-size: 2.44rem;
  line-height: 1.135;
  font-weight: 900;
  text-transform: uppercase;

  &__line {
    position: relative;

    &_accent {
      color: $accent-color;
    }
  }
  &__arrow-block {
    position: absolute;
    display: inline-flex;
    height: 100%;
    align-items: center;
    pointer-events: none;
    user-select: none;

    &_right {
      transform: translateX(22px);
    }
    &_left {
      left: -32px;
      transform: translateX(-22px);
    }
  }

  &_separated-lines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.subtitle {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: .02em;
}

.page-title-block {
  display: inline-block;

  &__subtitle {
    margin-bottom: 1.38em;
  }
  &__title {
    margin-bottom: 1.18em;
  }
}