.upload-file {
  position: relative;
  width: 3.8rem;
  height: 3.8rem;
  opacity: 1;
  transition: opacity .2s;

  &__content {
    height: 100%;
    width: 100%;
  }
  &__label {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accent-color;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;

    &_additional {
      background-color: #E0ECFF;
    }
  }
  &__plus {
    position: absolute;
    transform: scale3d(1.0, 1.0, 1.0) translateZ(0);
    transition: transform .2s ease-in-out;
    backface-visibility: hidden;

    path {
      stroke: #fff;
    }
  }
  &__remove {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 2;
    animation: smoothZIndexTo2 .31s 1 ease-in-out forwards;
    cursor: pointer;
    padding-top: .5rem;
    padding-bottom: .5rem;
    opacity: 1;
    background-color: rgba(255, 0, 0, 0);
    transition: opacity .1s, background-color .2s;

    svg {
      opacity: 1;
      transform: translateY(0px);
      transform-origin: center;
      transition: transform .3s ease-in-out, opacity .35s ease-in-out;
    }

    &:hover {
      background-color: rgba(255, 0, 0, .2);
    }
  }
  &__label_additional & {
    &__plus {
      path {
        stroke: $accent-color;
      }
    }
  }
  &__img {
    @include imgCover(10);
  }

  &__content:hover &, &__content:focus & {
    &__plus {
      transform: scale3d(1.25, 1.25, 1.25) translateZ(0);
    }
  }

  &:not(.uploaded) &__content & {
    &__label {
      box-shadow: none !important;
    }
  }
  &:not(.uploaded) &__content + & {
    &__remove {
      display: none;
    }
  }
  &.uploaded &__content & {
    &__label {
      position: relative;
      z-index: 1;
      overflow: visible;
      animation: smoothOverflowHidden .31s 1 ease-in-out forwards, smoothZIndexTo1 .31s 1 ease-in-out forwards;
      transform: scale(1);
      transition: transform .3s ease-in-out, box-shadow .2s;
    }
  }
  &.uploaded &__content:hover & {
    &__label {
      overflow: visible;
      animation: none;
      transform: scale(4);
      z-index: 3;
      box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
  }
  &_mobile-image.uploaded &__content:hover & {
    &__label {
      transform: scale(3);
    }
  }
  &.uploaded &__content:hover + & {
    &__remove {
      opacity: 0;
      pointer-events: none;
      z-index: 3;
      animation: none;
      
      svg {
        opacity: 0;
        transform: translateY(-10px);
        transition: transform .3s ease-in-out, opacity .1s;
      }
    }
  }
  &.process {
    opacity: .5;
    pointer-events: none;
  }

  &.center {
    width: 3.8rem * 1.2;
    height: 3.8rem * 1.2;
  }
  &_mobile-image {
    width: 3.8rem;
    height: 6.8rem;
  }
  &_mobile-image.center {
    width: 3.8rem * 1.2;
    height: 6.8rem * 1.2;
  }
  &_desktop-image {
    width: 8.5rem;
    height: 4.8rem;
  }
  &_desktop-image &__content & {
    &__img {
      @include imgCover(10);
    }
  }
  &_desktop-image.center {
    width: 8.5rem * 1.25;
    height: 4.8rem * 1.25;
  }
}

@keyframes smoothOverflowHidden {
  0% {
    overflow: visible;
  }
  90% {
    overflow: visible;
  }
  91%, 100% {
    overflow: hidden;
  }
}

@keyframes smoothZIndexTo1 {
  0% {
    z-index: 3;
  }
  90% {
    z-index: 3;
  }
  91%, 100% {
    z-index: 1;
  }
}

@keyframes smoothZIndexTo2 {
  0% {
    z-index: 3;
  }
  90% {
    z-index: 3;
  }
  91%, 100% {
    z-index: 2;
  }
}